* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* Navbar */
.navbar {
  width: 100%;
  padding: 30px 0;
  position: fixed;
  z-index: 999;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.5s ease;
}

.navbar.sticky {
  background: crimson;
  padding: 15px 0;
}

.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}

.navbar .logo a span {
  color: crimson;
  transition: color 0.2s ease;
}

.navbar.sticky .logo a span {
  color: #fff;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-weight: 500;
  margin-left: 25px;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}

.navbar .menu li a:hover {
  color: crimson;
}

.navbar.sticky .menu li a:hover {
  color: black;
}

/* Menu Button */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* Home */
.home {
  display: flex;
  background: black;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}

.home .home-content {
  min-width: 450px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
}

.home .home-content .text-2 span {
  color: crimson;
  font-weight: 500;
}

.home .home-content .text-3 {
  font-size: 35px;
  margin: 10px 0;
  min-height: 45px;
}

.home .home-content a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  padding: 12px 35px;
  margin-top: 20px;
  border-radius: 4px;
  border: solid crimson 2px;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  background: none;
}

/* About */

section {
  padding: 80px 0;
}

.about {
  font-family: 'Poppins', sans-serif;
}

.about .title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 4px;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: crimson;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 4px;
  border: solid crimson 2px;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  color: crimson;
  background: none;
}

/* Projects */

.projects {
  font-family: 'Poppins', sans-serif;
  background: black;
}

.projects .title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  color: #fff;
}

/* Contact */

.contact {
  font-family: 'Poppins', sans-serif;
}

.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: crimson;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: #333;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .email {
  margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button {
  height: 47px;
  width: 170px;
}

.contact .right form .button button {
  height: 100%;
  width: 100%;
  border: 2px solid crimson;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.contact .right form .button button:hover {
  color: crimson;
  background: none;
}

/* Footer */

footer {
  font-family: 'Poppins', sans-serif;
  color: rgb(224, 222, 222);
  background: black;
  padding: 20px;
  text-align: center;
}

footer span a {
  color: crimson;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

/* Media Queries */

@media (max-width: 1100px) {
  .about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .wrapper {
    padding: 0 60px;
    max-width: 800px;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: '\f00d';
  }

  .navbar .menu {
    position: fixed;
    background: black;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 70px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 50px 0;
    font-size: 25px;
    color: #fff;
  }

  .navbar .menu li a:hover {
    color: crimson;
  }

  .navbar.sticky .menu li a:hover {
    color: crimson;
  }

  .home .home-content .text-2 {
    font-size: 70px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }

  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left img {
    height: 320px;
    width: 320px;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
    text-align: center;
  }

  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }

  .home .home-content a {
    font-size: 20px;
    padding: 9px 25px;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 27px;
  }
}
