* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

/* Navbar */
.navbar {
  width: 100%;
  padding: 30px 0;
  position: fixed;
  z-index: 999;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.5s ease;
}

.navbar.sticky {
  background: crimson;
  padding: 15px 0;
}

.navbar .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo a {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
}

.navbar .logo a span {
  color: crimson;
  transition: color 0.2s ease;
}

.navbar.sticky .logo a span {
  color: #fff;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  color: #fff;
  font-weight: 500;
  margin-left: 25px;
  font-size: 1.2rem;
  transition: color 0.2s ease;
}

.navbar .menu li a:hover {
  color: crimson;
}

.navbar.sticky .menu li a:hover {
  color: black;
}

/* Menu Button */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

/* Home */
.home {
  display: flex;
  background: black;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}

.home .wrapper {
  /* margin: auto 0 auto 30px;  */
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
}

.home .home-content .text-3 {
  font-size: 40px;
  margin: 10px 0;
}

.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
}

.home .home-content a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 25px;
  padding: 12px 35px;
  margin-top: 20px;
  border-radius: 4px;
  border: solid crimson 2px;
  transition: all 0.3s ease;
}

.home .home-content a:hover {
  background: none;
}

/* About */

section {
  padding: 80px 0;
}

.about {
  font-family: 'Poppins', sans-serif;
}

.about .title {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

.about .about-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.about .about-content .left {
  width: 45%;
}

.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 4px;
}

.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: crimson;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  display: inline-block;
  background: crimson;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 4px;
  border: solid crimson 2px;
  transition: all 0.3s ease;
}

.about .about-content .right a:hover {
  color: crimson;
  background: none;
}

/* Projects */

.projects {
  font-family: 'Poppins', sans-serif;
}



/* Media Queries */

@media (max-width: 1100px) {
  .about .about-content .left img{
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .wrapper {
    padding: 0 60px;
    max-width: 800px;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: '\f00d';
  }

  .navbar .menu {
    position: fixed;
    background: black;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 70px;
    transition: all 0.3s ease;
  }

  .navbar .menu.active {
    left: 0;
  }

  .navbar .menu li {
    display: block;
  }

  .navbar .menu li a {
    display: inline-block;
    margin: 50px 0;
    font-size: 25px;
    color: #fff;
  }

  .navbar .menu li a:hover {
    color: crimson;
  }

  .navbar.sticky .menu li a:hover {
    color: crimson;
  }

  .home .home-content .text-2 {
    font-size: 70px;
  }

  .home .home-content .text-3 {
    font-size: 35px;
  }

  .home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }

  .about .about-content .column {
    width: 100%;
  }

  .about .about-content .left img{
    height: 320px;
    width: 320px;
  }

  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  .about .about-content .right {
    flex: 100%;
    text-align: center;
  }
}

@media (max-width: 690px) {
  .home .home-content .text-2 {
    font-size: 60px;
  }

  .home .home-content .text-3 {
    font-size: 32px;
  }

  .home .home-content a {
    font-size: 20px;
    padding: 9px 25px;
  }
}

@media (max-width: 500px) {
  .home .home-content .text-2 {
    font-size: 50px;
  }

  .home .home-content .text-3 {
    font-size: 27px;
  }
}
